<div class="col-md-6">
  <div class="col-md-12" style="margin-top: 20px;">
    <mat-card>
      <mat-card-title>To Do List</mat-card-title>
      <mat-card-content>
        <mat-list>
          <div *ngFor="let task of listIncompleteTask">
            <mat-list-item>
              <mat-checkbox class="example-margin" (change)="onCompleteTask(task.id)" [checked]="task.complete">
                {{task.task}}
              </mat-checkbox>
            </mat-list-item>
          </div>
          <div *ngIf="listIncompleteTask.length < 1">
            all task done !!
          </div>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-12" style="margin-top: 20px;">
    <mat-card>
      <mat-card-title>Add Do List</mat-card-title>
      <mat-card-content>
        <mat-form-field style="width: 100%;" class="example-full-width" appearance="fill">
          <mat-label>Add To Do</mat-label>
          <input matInput placeholder="Ex. Clear Room" (change)="onChangeValue()" [(ngModel)]="value">
        </mat-form-field>
        <button class="btn-info btn btn-sm" (click)="addToDo()">Add To Do</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-12" style="margin-top: 20px;">
    <mat-card>
      <mat-card-title>Completed</mat-card-title>
      <mat-card-content>
        <mat-list>
          <div *ngFor="let task of listCompleteTask">
            <mat-list-item>
              <mat-checkbox class="example-margin" [checked]="task.complete" (change)="onRemoveCompleteTask(task.id)">
                <span style="text-decoration: line-through;">{{task.task}}</span>
              </mat-checkbox>
            </mat-list-item>
          </div>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
